<nav class="navbar navbar-expand-lg custom-nav top">
  <a class="navbar-brand custom-nav-brand" href="#">
    <img src="assets/pages/nav/logo/logo-color.png" alt="TXT Logo" />
  </a>
  <div class="burger-container">
    <div class="burger" id="burger1" (click)="toggleNavMenu()" [ngClass]="{'burger1-open': activeNavMenu, 'burger1': !activeNavMenu}"></div>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'show': activeNavMenu }">
    <ul class="navbar-nav ml-auto mr-auto">
      <li class="nav-item" (click)="toggleNavMenu()">
        <a class="nav-link black-text" routerLinkActive="activeLink" routerLink='/home'>Home</a>
      </li>
      <li class="nav-item" (click)="toggleNavMenu()">
        <a class="nav-link black-text" routerLinkActive="activeLink" routerLink='/about'>About</a>
      </li>
      <li class="nav-item" (click)="toggleNavMenu()">
        <a class="nav-link black-text" routerLinkActive="activeLink" routerLink='/programs'>Programs</a>
      </li>
      <li class="nav-item" (click)="toggleNavMenu()">
        <a class="nav-link black-text" routerLinkActive="activeLink" routerLink='/TXT-culture'>TXT Culture</a>
      </li>
      <!-- get invovled on desktop -->
      <li class="nav-item desktop" (click)="toggleNavMenu()">
        <span class="nav-link black-text">Get Involved</span>
        <div class="dropdown">
          <ul>
            <li>
              <a class="nav-link black-text left-text" routerLinkActive="activeLink" routerLink='/get-involved/jobs'>Jobs</a>
            </li>
            <li>
              <a class="nav-link black-text left-text" routerLinkActive="activeLink" [routerLink]="['/get-involved/fellow']" >Fellowship</a>
            </li>
            <li>
              <a class="nav-link black-text left-text" routerLinkActive="activeLink" [routerLink]="['/get-involved/volunteer']" >Volunteer</a>
            </li>
            <li>
              <a class="nav-link black-text left-text" routerLinkActive="activeLink" [routerLink]="['/get-involved/mentor']" >Mentor</a>
            </li>
          </ul>
        </div>
      </li>
      <!-- get invovled on mobile -->
      <li class="nav-item mobile">
        <span class="nav-link black-text" (click)="toggleGetInvovled()">
            Get Involved

            <i class="fas fa-chevron-down"></i>
        </span>
        <div class="dropdown mobile" *ngIf="getInvovledActive">
          <ul>
            <li>
              <a class="nav-link black-text left-text" (click)="toggleNavMenu()" routerLinkActive="activeLink" [routerLink]="['/get-involved/jobs']">Jobs</a>
            </li>
            <li>
              <a class="nav-link black-text left-text" (click)="toggleNavMenu()" routerLinkActive="activeLink" [routerLink]="['/get-involved/fellow']">Fellowship</a>
            </li>
            <li>
              <a class="nav-link black-text left-text" (click)="toggleNavMenu()" routerLinkActive="activeLink" [routerLink]="['/get-involved/volunteer']">Volunteer</a>
            </li>
            <li>
              <a class="nav-link black-text left-text" (click)="toggleNavMenu()" routerLinkActive="activeLink" [routerLink]="['/get-involved/mentor']">Mentor</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item" (click)="toggleNavMenu()">
        <a class="nav-link black-text" routerLinkActive="activeLink" routerLink='/contact-us'>Contact Us</a>
      </li>
    </ul>
    <span class="nav-item donate" (click)="toggleNavMenu()">
      <a class="nav-link donate-link" href="https://txt.networkforgood.com">
        <span>Donate</span>
        <i class="fa fa-heart"></i>
      </a>
    </span>
  </div>
</nav>
