<div>
  <div class="main-content">
    <div class="header">
      <img [src]="currentProgram.img" alt="" />
      <div class="header-title-programs">
        <h1>{{currentProgram.name}}</h1>
      </div>
    </div>
    <div class="program-updates">
      <p>
        {{currentProgram.bannerMessage}}
        <a [attr.href]="'mailto:' + currentProgram.bannerEmailer">{{currentProgram.bannerEmailer}}</a>
      </p>
    </div>
    <div class="container-fluid">
      <div class="row d-flex align-items-center section-margin" 
      *ngFor="let section of currentProgram.programSections;
              let index =index;
              let isOdd=odd;
              let isEven=even"
      [class.odd]="isOdd" 
      [class.even]="isEven">

        <div class="col-12 col-sm-12 col-md-12 col-lg-4 spacing animation-item fadeTop">
          <div class="section-img-container">
            <img [src]="section.img" alt="">
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 spacing animation-item fadeRight padding-left">
          <h3 class="step-title">{{section.title}}</h3>
          <p class="step-desc">
            {{section.content}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
