  .container-margin {
    margin-top: 75px;
  }

  .container-fluid {
    padding: 0 25px;
  }

  .webview {
    opacity: 0;
    -webkit-transition: all 600ms linear;
    transition: all 600ms linear;
  }

  .show {
    opacity: 1 !important;
  }

  h2 {
    margin-bottom: 25px;
    text-align: center;
  }

  /* banner section styles */

  .header {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
  }

  .header img {
    width: auto;
    height: 100%;
  }

  .header-title {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 35px 35px 15px 35px;
  }

  .header-title h1 {
    font-size: 48px;
  }

  .header-title p {
    font-size: 21px;
  }

  .office {
    width: 95%;
    margin: 0 auto;
    display: inline-block;
    padding: 20px 20px;
    background: white;
    box-shadow: 0 5px 10px #eee;
    border-radius: 5px;
    min-height: 300px;
  }

  .office-icon {
    width: 100%;
    margin: -85px 0 0 0;
    padding: 0;
    text-align: center;
  }

  .form {
    width: 95%;
    margin: 0 auto;
    display: inline-block;
    padding: 20px 20px;
    background: white;
    box-shadow: 0 5px 10px #eee;
    border-radius: 5px;
    min-height: 300px;
    vertical-align: top;
  }

  .form-icon {
    width: 100%;
    margin: -85px 0 0 0;
    padding: 0;
    text-align: center;
  }

  .office-icon h1 {
    font-size: 22px;
    font-weight: 700;
  }

  .office-icon p {
    font-size: 15px;
    margin: 25px 0 0 0;
    line-height: 25px;
    color: #7a7a7a;
    font-weight: 600;
  }

  .fa-building,
  .fa-wpforms {
    color: #2594A9;
    font-size: 44px;
    margin-bottom: 50px;
  }

  .office-details {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .office-details ul {
    text-decoration: none;
    list-style-type: none;
  }

  .office-details span {
    font-size: 24px;
    line-height: 35px;
    font-weight: 600;
    vertical-align: top;
  }

  .enve,
  .fa-globe {
    color: #2594A9 !important;
    font-size: 36px !important;
    margin-bottom: 50px !important;
    margin-right: 15px !important;
  }

  .icon-left {
    text-align: left;
  }

  .fa-envelope {
    color: black;
    font-size: 22px;
    margin-bottom: 50px;
    margin-right: 15px;
  }

  .custom-input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin-bottom: 25px;
  }

  .label {
    margin-bottom: 0;
    color: #a7a7a7;
    font-size: 14px;
    font-weight: 500;
  }

  .custom-submit {
    color: white;
    background-color: #2594A9;
    border-radius: 40px;
    outline: none;
    border: solid thin #2594A9;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    cursor: pointer;
    padding: 10px 50px;
  }

  .custom-submit:hover {
    color: #2594A9;
    background-color: white;
    outline: none;
    border: solid thin #2594A9;
  }

  .margin-top {
    margin-top: 150px;
  }

  @media (min-width: 576px) {
    .header img {
      width: 100%;
      height: auto;
    }
  }

  @media (min-width: 768px) {
    .header img {
      width: 100%;
      height: auto;
    }
    .header-title-programs {
      min-width: 650px;
    }
  }

  @media (min-width: 992px) {
    .office{
        padding: 20px 40px;
    }

    .form {
        padding: 20px 40px;
      }
  }



