<div>
  <div class="main-content">
    <div class="header">
      <img [src]='banner' alt="" />
      <div class="header-title">
        <h1>Contact Us</h1>
        <p>Feel free to contact us with any inquiries.</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="contact-align-center col margin-top" >
          <div class="office">
            <div class="office-icon icon-height">
              <i class="fa fa-building"></i>
              <h4>TXT HQ</h4>
              <p>
                3655 South Grand Ave.
                <br/> Los Angeles, CA 90037 Ste. 200
              </p>
            </div>
            <div class="office-details">
              <ul>
                <li class="icon-left">
                  <i class="fa fa-envelope enve"></i>
                  <span>info@urbantxt.com</span>
                </li>
                <li class="icon-left">
                  <i class="fa fa-globe"></i>
                  <span>exploringtech.org</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="contact-align-center col margin-top">
          <div class="form">
            <div class="form-icon icon-height">
              <i class="fab fa-wpforms"></i>
            </div>
            <div class="form-details">
              <app-contact-form></app-contact-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
