.center-text{
    text-align: center;
}

.job-item{
    font-size: 24px;
    color: #2594A9;
    margin-top: 15px;
}

.job-item a{
    font-size: 24px;
    color: #2594A9;
}


.job-location{
    color: #939393;
}

.jobs{
    margin-top: 50px;
}