<div class="container-fluid">
  <h1 class="center-text">Open Positions</h1>

  <ul class="jobs">
    <li class="job-item">
      <a href="https://www.dropbox.com/s/umzycife7xe1kfz/associate-office-assistant.pdf?dl=0">Associate Office Assistant</a>
      <ul>
        <li class="job-location">Location: Los Angeles, California</li>
      </ul>
    </li>
    <li class="job-item">
        <a href="https://www.dropbox.com/s/57w9ey95ynbtpik/Business-development-project-manager.pdf?dl=0">Business Development and Project Manager</a>
        <ul>
          <li class="job-location">Location: Los Angeles, California</li>
        </ul>
      </li>
      <li class="job-item">
          <a href="https://www.dropbox.com/s/xtjqinpirjxchk7/operations-and-development-manager.pdf?dl=0">Operations and Development Manager</a>
          <ul>
            <li class="job-location">Location: Los Angeles, California</li>
          </ul>
        </li>
  </ul>
</div>
