$color-black: #282828;
$color-blue: #47aaf8;
$color-white: #fff;

.layout-wrapper{
    height: 100vh;
    width: 100vw;
}



.layout-left{
    position: fixed;
    top: 65px;
    left: 0;
    height: 100%;
    padding-top: 18px;
    background-color: $color-black;
    z-index: 99999;
}

.layout-right{
    display: block;
    padding-left: 0;
    height: 100%;
    width: 100%;
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .layout-left{
        position: fixed;
        top: 65px;
        left: 0;
        height: 100%;
        padding-top: 18px;
        background-color: $color-black;
        z-index: 99999;
    }
    
    .layout-right{
        display: block;
        padding-left: 52px;
        height: 100%;
        width: 100%;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }