<div>
  <div class="container-fluid">
    <div class="form-header">
      <h1>Fellows Form</h1>
      <hr>
    </div>
    <form [formGroup]="fellowsForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="label">Full Name
          <span class="error">*</span>
        </label>
        <input type="text" class="form-control" id="inputName" formControlName="name">
        <app-form-field-error [displayError]="name.invalid && name.touched" errorMsg="This field cannot be empty."></app-form-field-error>
      </div>

      <div class="form-group">
        <label class="label">Email
          <span class="error">*</span>
        </label>
        <input type="email" class="form-control" id="inputEmail" formControlName="email">
        <app-form-field-error [displayError]="email.invalid && email.touched" errorMsg="Invalid email."></app-form-field-error>
      </div>

      <div class="form-group">
        <label class="label">Phone Number
          <span class="error">*</span>
        </label>
        <input type="text" class="form-control" id="inputPhoneNumber" formControlName="phoneNumber">
        <app-form-field-error [displayError]="phoneNumber.invalid && phoneNumber.touched" errorMsg="This field cannot be empty"></app-form-field-error>
      </div>

      <div class="form-group">
        <label class="label">What inspires you and why?
          <span class="error">*</span>
        </label>
        <textarea type="text" class="form-control" formControlName="inspiration"></textarea>
        <app-form-field-error [displayError]="inspiration.invalid && inspiration.touched" errorMsg="This field cannot be empty"></app-form-field-error>
      </div>

      <div class="form-group">
        <label class="label">What makes you an ideal candidate to impact the lives of teens from South Central Los Angeles?
          <span class="error">*</span>
        </label>
        <textarea type="text" class="form-control" formControlName="idealCandidate"></textarea>
        <app-form-field-error [displayError]="idealCandidate.invalid && idealCandidate.touched" errorMsg="This field cannot be empty"></app-form-field-error>
      </div>

      <!-- submit button -->
      <button type="submit" class="btn submit-btn" [disabled]="!fellowsForm.valid">
        <span *ngIf="loading">
          <i class="fas fa-spin fa-spinner"></i>
        </span>

        <span *ngIf="!loading">
          Submit
        </span>


      </button>
      <app-form-field-error [displayError]="serverErrorResponse" errorMsg="Server Error. Please try again."></app-form-field-error>
      <app-form-field-success [displaySuccess]="serverSuccessResponse" successMsg="Form submitted. Thank you."></app-form-field-success>
    </form>
  </div>
</div>
