<div>
  <div class="main-content">
    <!-- section with banner and header -->
    <div class="header">
      <img [src]="banner" alt="" />
      <div class="header-title">
        <h1>Get Invovled</h1>
        <p>Inspired by TXT’s work in the South Central Los Angeles community?
          <br /> Explore the many ways you can get involved.
        </p>
      </div>
    </div>
    <!-- section with the programs - info dynamically displayed -->
    <div class="container programs-container">
      <div class="row center-news-mobile center">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" *ngFor="let item of items">
          <div class="news-item">
            <div class="news-image image-1">
              <img [src]="item.img" alt="" />
            </div>
            <div class="news-content">
              <h1>{{item.name}}</h1>
              <p>
                {{item.desc}}
              </p>
            </div>
            <div class="news-btn-container">

              <span class="news-btn" (click)="viewItem(item.id)" *ngIf="!item.externalLink">View More</span>
              <a class="news-btn" [attr.href]="item.link" href="http://txtlabs.io/" *ngIf="item.externalLink">View More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
