<div>
    <div class="container-fluid">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="label">Full Name <span class="error">*</span></label>
          <input type="text" class="form-control" id="inputName" formControlName="name">
          <app-form-field-error [displayError]="name.invalid && name.touched" errorMsg="This field cannot be empty."></app-form-field-error>
        </div>
  
        <div class="form-group">
          <label class="label" >Email <span class="error">*</span></label>
          <input type="email" class="form-control" id="inputEmail" formControlName="email">
          <app-form-field-error [displayError]="email.invalid && email.touched" errorMsg="Invalid email."></app-form-field-error>
        </div>
  
        <div class="form-group">
          <label class="label">Phone Number <span class="error">*</span></label>
          <input type="text" class="form-control" id="inputPhoneNumber" formControlName="phoneNumber">
          <app-form-field-error [displayError]="phoneNumber.invalid && phoneNumber.touched" errorMsg="This field cannot be empty"></app-form-field-error>
        </div>
  
        <div class="form-group">
          <label class="label">Reason for contacting us <span class="error">*</span></label>
  
          <div class="form-check" *ngFor="let option of otherOptions">
            <input class="form-check-input" type="radio" [value]="option" (change)="selectChange(option)" formControlName="reason">
            <label class="form-check-label" >
              {{option}}
            </label>
          </div>
  
          <div *ngIf="showOther">
              <label class="label">Other</label>
              <input type="text" class="form-control" id="inputOther" formControlName="otherReason">
          </div>
        </div>
  
        <div class="form-group">
            <label class="label">Comments</label>
            <textarea type="text" class="form-control" formControlName="comments"></textarea>
        </div>
  
        <button type="submit" class="btn submit-btn" [disabled]="!contactForm.valid">
            <span *ngIf="loading" >
                <i class="fas fa-spin fa-spinner"></i>
            </span>
  
            <span *ngIf="!loading">
                Submit
            </span>
  
        
        </button>
        <app-form-field-error [displayError]="serverErrorResponse" errorMsg="Server Error. Please try again."></app-form-field-error>
        <app-form-field-success [displaySuccess]="serverSuccessResponse" successMsg="Form submitted. Thank you."></app-form-field-success>
      </form>
    </div>
  </div>
  