.container-margin {
    margin-top: 75px;
}

.container-fluid {
    padding: 0 25px;
}



.webview {
    opacity: 0;
    -webkit-transition: all 600ms linear;
    transition: all 600ms linear;
}

.show {
    opacity: 1 !important;
}

h2 {
    margin-bottom: 25px;
    text-align: center;
}

/* banner section styles */

.header {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

.header img {
    width: auto;
    height: 100%;
}

.header-title {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 35px 35px 15px 35px;
}

.header-title h1 {
    font-size: 48px;
}

.header-title p {
    font-size: 21px;
}

.news-item {
    margin: 50px 0;
    position: relative;
    overflow-y: visible;
    border-radius: 10px;
    opacity: 1;
    /* // transform: translate3d(0px, 75px, 0px); */
    transition: all 0.55s cubic-bezier(0.4, 0.15, 0.25, 1), all 0.85s cubic-bezier(0.4, 0.15, 0.25, 1);
    box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.1);
    /* // transform: translateY(40px); */
  }
  
  .news-image {
    background-color: black;
    display: block;
    height: 200px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
  }
  
  .news-image img{
    width:100%
  }
  
  .news-content {
    height: 225px;
    padding: 40px 25px 25px 25px;
    overflow: hidden;
  }
  
  .news-content h1 {
    text-align: center;
    font-size: 20px;
  }
  
  .news-content p {
    margin-top: 15px;
    color: #939393;
    font-size: 16px;
    line-height: 24px;
  }
  
  .news-btn-container {
    margin-top: 24px;
    text-align: center;
    opacity: 1;
    position: relative;
    margin: 0 -16px;
  }
  
  .news-btn {
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #333333;
    border:solid thin #333333;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1px;
    padding: 13px 28px;
    min-width: 190px;
    display: inline-block;
    border-radius: 90px;
    -webkit-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.17s ease;
    transition: all 0.17s ease;
    margin: 0 auto;
    position: relative;
    top: 22px;
  }

  .news-btn:hover{
    background-color: white;
    border:solid thin #333333;
    text-decoration: none;
    color: #333333;
  }
  
  .news-item:hover {
    /* // box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.1);
    // transform: translateY(40px); */
  }
  
  .news-item:hover .news-btn-container {
    opacity: 1;
  }
  
  .news-header {
    opacity: 0;
    -webkit-transition: all 0.17s ease;
    transition: all 0.8s ease;
  }
  
  .news-header h1 {
    font-size: 36px;
    font-weight: 300;
  }
  
  .news-header p {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    color: #939393;
  }
  
  .is-center {
    justify-content: center;
    text-align: center;
  }
  
  .hide {
    opacity: 1;
  }
  
  .fadeIn {
    opacity: 1;
  }
  
  /* .fadeUpIn {
    animation: fadeUpIn .45s linear;
    animation-fill-mode: forwards;
  } */
  
  @keyframes fadeUpIn {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0px, 75px, 0px);
      transform: translate3d(0px, 75px, 0px);
    }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0px, 0px, 0px);
      transform: translate3d(0px, 0px, 0px);
    }
  }
  
  .image-1 {
    /* background-image: url(../../../../assets/programs/scla/scla-1.jpg); */
    background-size: cover;
    background-position: top center;
    -webkit-transform: translate3d(0, 0, 0);
  }
  
  .image-2 {
    /* background-image: url(../../../../assets/programs/leadcs/leadcs-1.jpg); */
    background-size: cover;
    background-position: top center;
    -webkit-transform: translate3d(0, 0, 0);
  }
  
  .image-3 {
    /* background-image: url(../../../../assets/home/fostercode.png); */
    background-size: cover;
    background-position: top center;
    -webkit-transform: translate3d(0, 0, 0);
  }
  
  .image-4 {
    /* background-image: url(../../../../assets/programs/hackathon.jpg); */
    background-size: cover;
    background-position: top center;
    -webkit-transform: translate3d(0, 0, 0);
  }
  
  
  .delay-1 {
    animation-delay: .22s
  }
  
  .delay-2 {
    animation-delay: .44s
  }
  
  .delay-3 {
    animation-delay: .64s
  }
  
  .stats-container {
    padding: 100px 50px 50px 50px;
    justify-content: center;
    background-color: #333333;
    min-height: 300px;
  }
  
  .countup {
    text-align: center;
  }
  

  


.programs-container{
  padding: 50px 25px;
}

.programs-blue-background{
  padding: 50px 25px;
  /* // background-color: #2594A9; */
  background-color: white;
  width: 100%;
  height: 500px;
  margin-top: 50px;
}

.youtube-container{
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.youtube-player-size{
  width: 100% !important;
  height: 100% !important;
}

.program-updates{
  background-color: #2594A9;
  color: white;
  text-align: center;
  padding: 10px 35px;

}
.program-updates p{
    font-size: 18px;
    margin-bottom: 0;
 }

.program-updates p a{
 color: black;
 margin-left: 5px;

}

.program-updates p a:hover{
  color: white;
 }

 .header-title-programs {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 35px 35px 15px 35px;
  min-width: 100%;
}

.header-title-programs h1 {
  font-size: 48px;
}

.header-title-programs p {
  font-size: 21px;
}


.logo-padding {
  padding: 0 75px;
}

.logo-container {
  overflow: hidden;
  margin-top: 30px;
}

.logo-container img {
  display: block;
  margin: auto;
  width: 75%;
  height: auto;
}

.row-logo-spacing {
  margin-top: 0;
}
@media (min-width: 576px) {
    .header img {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 768px) {
    .header img {
        width: 100%;
        height: auto;
    }
  .header-title-programs {
    min-width: 650px;
  }
}

@media (min-width: 992px) {
  .youtube-container{
    margin: auto;
    height: 400px;
    width: 750px;
    overflow: hidden;
  }

}

@media (min-width: 1200px) {

}