<div>
  <div class="main-content">
    <!-- section with banner and header -->
    <div class="header">
      <img [src]="banner" alt="" />
      <div class="header-title">
        <h1>Programs</h1>
        <p>Our programs inspire and support young boys of color
          <br /> to become leaders and disruptors in their communities.
        </p>
      </div>
    </div>
    <!-- section with the youtube iframe -->
    <div class="programs-blue-background">
      <div class="youtube-container">
        <iframe class="youtube-player-size" [src]="sanitizer.bypassSecurityTrustResourceUrl(jamesIrvineVideo)"></iframe>
      </div>
    </div>
    <!-- section with the programs - info dynamically displayed -->
    <div class="container programs-container">
      <div class="row center-news-mobile center">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" *ngFor="let program of programs">
          <div class="news-item">
            <div class="news-image image-1">
              <img [src]="program.img" alt="" />
            </div>
            <div class="news-content">
              <h1>{{program.name}}</h1>
              <p>
                {{program.desc}}
              </p>
            </div>
            <div class="news-btn-container">

              <span class="news-btn" (click)="viewProgram(program.id)" *ngIf="!program.externalLink">View More</span>
              <a class="news-btn" [attr.href]="program.link" *ngIf="program.externalLink">View More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section that contains sponsors -->
    <div class="container">
      <div class="row">
        <div class="col what-we-do center-mobile">
          <h2>Our Sponsors</h2>
        </div>
      </div>
      <div class="row row-logo-spacing">
        <div class="col-xl-3 col-md-3 logo-container col-6">
          <img src="assets/pages/home/sponsors/tinder.png" alt="" />
        </div>
        <div class="col-xl-3 col-md-3 logo-container col-6">
          <img src="assets/pages/home/sponsors/snapchat.png" alt="" />
        </div>
        <div class="col-xl-3 col-md-3 logo-container col-6">
          <img src="assets/pages/home/sponsors/google.png" alt="" />
        </div>
        <div class="col-xl-3 col-md-3 logo-container col-6">
          <img src="assets/pages/home/sponsors/honda.png" alt="" />
        </div>
      </div>
      <div class="row row-logo-spacing">
        <div class="col-xl-3 col-md-3 logo-container col-6">
          <img src="assets/pages/home/sponsors/facebook2.png" alt="" />
        </div>
        <div class="col-xl-3 col-md-3 logo-container col-6">
          <img src="assets/pages/home/sponsors/lakers.png" alt="" />
        </div>
        <div class="col-xl-3 col-md-3 logo-container col-6">
          <img src="assets/pages/home/sponsors/usc.png" alt="" />
        </div>
        <div class="col-xl-3 col-md-3 logo-container col-6">
          <img src="assets/pages/home/sponsors/subaru.png" alt="" />
        </div>
      </div>
      <div class="row row-logo-spacing">
        <div class="col-xl-3 col-md-3 logo-container col-6">
          <img src="assets/pages/home/sponsors/verizon.png" alt="" />
        </div>
        <div class="col-xl-3 col-md-3 logo-container col-6">
          <img src="assets/pages/home/sponsors/shave.png" alt="" />
        </div>
        <div class="col-xl-3 col-md-3 logo-container col-6">
          <img src="assets/pages/home/sponsors/edison.png" alt="" />
        </div>
        <div class="col-xl-3 col-md-3 logo-container col-6">
          <img src="assets/pages/home/sponsors/good.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
