<div>
  <div class="main-content font class" style=" overflow-x: hidden; background-color: white ">
    <!-- section that contains the video on desktop or banner image on mobile -->
    <div class="banner">
      <div class="banner-content">
        <video playsInline autoPlay muted loop id="vid">
          <source src="assets/pages/home/banner/video-banner.mp4" type="video/mp4" />
        </video>
        <img src="assets/pages/home/banner/video-banner.jpg" alt="Banner" id="img" />
      </div>

      <div class="banner-text">
        <h1 class="banner-title animation-item fadeBottom-title">
          Empowering Young Black & Latino Boys
          <br/> To Become Tech Entrepreneurs
        </h1>
      </div>
    </div>
    <!-- section that contains why it matters description -->
    <div class="container-fluid">
      <div class="row">
        <div class="col what-we-do text-center">
          <h2>Why It Matters</h2>
        </div>
      </div>
      <div class="row">
        <div class="col what-we-do font">
          <p>
            55% of Black and Latino males drop out of school in low-income communities, which translates into high rates of incarceration,
            unemployment, and early death.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
          <div class="jail-stat-container">
            <div>
              <i class="fa fa-male blue-text animation-item"></i>
            </div>
            <div>
              <i class="fa fa-male"></i>
            </div>
            <div>
              <i class="fa fa-male"></i>
            </div>
            <div>
              <i class="fa fa-male"></i>
            </div>
            <div>
              <i class="fa fa-male"></i>
            </div>
            <div>
              <i class="fa fa-male"></i>
            </div>
          </div>
          <div class="jail-num">
            <p>
              <span class="jail-stat-bold">1</span>
              <span>in</span>
              <span class="blue-text jail-stat-bold animation-item">6</span>
              <br/> Latino men are incarcerated in their lifetimes. 
            </p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
          <div class="jail-stat-container">
            <div>
              <i class="fa fa-male blue-text animation-item"></i>
            </div>
            <div>
              <i class="fa fa-male"></i>
            </div>
            <div>
              <i class="fa fa-male"></i>
            </div>
          </div>
          <div class="jail-num">
            <p>
              <span class="jail-stat-bold">1</span>
              <span>in</span>
              <span class=" jail-stat-bold blue-text animation-item">3</span>
              <br/> Black men are incarcerated in their lifetimes.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- section that contains testimonials -->
    <app-testimonials></app-testimonials>
    <!-- section that contains how we do it -->
    <div class="container-fluid">
      <div class="row">
        <div class="col what-we-do center-mobile">
          <h2>How we do it</h2>
        </div>
      </div>
      <div class="row d-flex align-items-center">
        <div class="col-md-4 spacing animation-item fadeTop">
          <div class="method-0"></div>
        </div>
        <div class="col-md-8 spacing animation-item fadeRight padding-left">
          <h3 class="step-title">Youth Development</h3>
          <p class="step-desc">
            We work with our students to meet the challenges of adolescence and adulthood head-on to achieve their full potentials. Our holistic approach allows our youth to discover their strengths and weaknesses. We encourage youth to work in groups and engage in good faith arguments to encourage exponential personal growth. Our programs foster significant improvements in self-advocacy, community responsibility, control of emotions, and much more. 
          </p>
        </div>
      </div>
      <div class="row d-flex align-items-center step-margin">
        <div class="order-last col-md-8 spacing animation-item fadeLeft  padding-right">
          <h3 class="step-title">Coding</h3>
          <p class="step-desc">
            A full-stack developer is comfortable working with all the technologies required to develop an idea into a finished product. Our students learn to code both the front and back ends of their web or mobile applications. We believe that by teaching them how to study coding languages, they can make a better decision of becoming a CS major. 
          </p>
        </div>
        <div class="order-first col-md-4 spacing animation-item fadeTop">
          <div class="method-2"></div>
        </div>
      </div>
      <div class="row d-flex align-items-center step-margin">
        <div class="col-md-4 spacing animation-item fadeTop">
          <div class="method-3"></div>
        </div>
        <div class="col-md-8 spacing animation-item fadeRight  padding-left">
          <h3 class="step-title">Business Development</h3>
          <p class="step-desc">
            We teach our students to use the Business Model Canvas; they learn to develop a value proposition, identify their target market segment, collect and analyze data, and more. We also teach our students to plan strategically and to develop professional relationships and partnerships. 

          </p>
        </div>
      </div>
      <div class="row d-flex align-items-center step-margin">
        <div class="order-last col-md-8 spacing animation-item fadeLeft  padding-right">
          <h3 class="step-title">Design Thinking</h3>
          <p class="step-desc">
            Design thinking is an observational, human-centered, and cyclical approach problem solving. We teach our students to empathize with their communities to discover a problem they want to solve, define the cause of the problem they are addressing, ideate potential solutions, test prototypes, and learn by iterating through the cycle.
          </p>
        </div>
        <div class="order-first col-md-4 spacing animation-item fadeTop">
          <div class="method-1"></div>
        </div>
      </div>
    </div>
    <!-- section that contains stats -->
    <div class="container-fluid no-padding">
      <div class="row">
        <div class="col" id="stats-container">
          <div class="stats-img" id="scroller-id">
            <img src="assets/pages/home/stats/stats.JPG" alt="TXT stats" />
          </div>
          <div class="stats-overlay"></div>
          <div class="stats-num">
            <div class="countup">
              <h1 class="stat blue-text">
                <span>10,000</span>
                <span>+</span>
              </h1>
              <h2 class="stat-detail white-text">Hours of coding instruction</h2>
            </div>
            <div class="countup">
              <h1 class="stat blue-text">
                <span>95</span>
                <span>%</span>
              </h1>
              <h2 class="stat-detail white-text">Attend 4-year universities</h2>
            </div>
            <div class="countup">
              <h1 class="stat blue-text">
                <span>75</span>
                <span>%</span>
              </h1>
              <h2 class="stat-detail white-text">Major in CS</h2>
            </div>
            <div class="countup">
              <h1 class="stat blue-text">
                <span>1,500</span>
                <span>+</span>
              </h1>
              <h2 class="stat-detail white-text">Students served yearly</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
          <div class="col what-we-do center-mobile">
              <h2>As Featured On</h2>
          </div>
      </div>
      <div class="row row-logo-spacing">
          <div class="col-xl-3 col-md-3 logo-container col-6">
              <img [src]="laTimes" alt="" />
          </div>
          <div class="col-xl-3 col-md-3 logo-container col-6">
              <img [src]="nbc" alt="" />
          </div>
          <div class="col-xl-3 col-md-3 logo-container col-6">
              <img [src]="univision" alt="" />
          </div>
          <div class="col-xl-3 col-md-3 logo-container col-6">
              <img [src]="whiteHouse" alt="" />
          </div>
      </div>
      <div class="row row-logo-spacing">
          <div class="col-xl-4 col-md-4 logo-container col-6">
              <img [src]="sxs" alt=""/>
          </div>
          <div class="col-xl-4 col-md-4 logo-container col-6">
              <img [src]="tedx" alt=""/>
          </div>
          <div class="col-xl-4 col-md-4 logo-container col-6">
              <img [src]="fox" alt=""/>
          </div>
      </div>
      </div>
  </div>
</div>
