<div>
  <div class="container-fluid">
    <div class="form-header">
      <h1>Volunteer Form</h1>
      <hr>
    </div>
    <form [formGroup]="volunteerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="label">Full Name <span class="error">*</span></label>
        <input type="text" class="form-control" id="inputName" formControlName="name">
        <app-form-field-error [displayError]="name.invalid && name.touched" errorMsg="This field cannot be empty."></app-form-field-error>
      </div>

      <div class="form-group">
        <label class="label" >Email <span class="error">*</span></label>
        <input type="email" class="form-control" id="inputEmail" formControlName="email">
        <app-form-field-error [displayError]="email.invalid && email.touched" errorMsg="Invalid email."></app-form-field-error>
      </div>

      <div class="form-group">
        <label class="label">Phone Number <span class="error">*</span></label>
        <input type="text" class="form-control" id="inputPhoneNumber" formControlName="phoneNumber">
        <app-form-field-error [displayError]="phoneNumber.invalid && phoneNumber.touched" errorMsg="This field cannot be empty"></app-form-field-error>
      </div>

      <div class="form-group">
        <label class="label">How would you like to help TXT? <span class="error">*</span></label>

        <div class="form-check" *ngFor="let option of helpOptions">
          <input class="form-check-input" type="radio" [value]="option" (change)="selectChange(option)" formControlName="helpOption">
          <label class="form-check-label" >
            {{option}}
          </label>
        </div>

        <div *ngIf="showOther">
            <label class="label">Other</label>
            <input type="text" class="form-control" id="inputOther" formControlName="otherHelpOption">
            <app-form-field-error [displayError]="otherHelpOption.invalid && otherHelpOption.touched" errorMsg="This field cannot be empty"></app-form-field-error>
        </div>
      </div>

      <div class="form-group">
          <label class="label">Describe your experience with computers and/or programming.</label>
          <input type="text" class="form-control" id="inputPhoneNumber" formControlName="experience">
      </div>

      <div class="form-group">
          <label class="label">How did you hear about TXT?</label>
          <input type="text" class="form-control" id="inputPhoneNumber" formControlName="hearAbout">
      </div>

      <div class="form-group">
          <label class="label">What inspired you to want to volunteer?</label>
          <textarea type="text" class="form-control"  formControlName="inspiration"> </textarea>
      </div>

      <div class="form-group">
          <label class="label">Is there anything else we should know about you? Questions?</label>
          <textarea type="text" class="form-control"  formControlName="questions"> </textarea>
      </div>

      <button type="submit" class="btn submit-btn" [disabled]="!volunteerForm.valid">
          <span *ngIf="loading" >
              <i class="fas fa-spin fa-spinner"></i>
          </span>

          <span *ngIf="!loading">
              Submit
          </span>

      
      </button>
      <app-form-field-error [displayError]="serverErrorResponse" errorMsg="Server Error. Please try again."></app-form-field-error>
      <app-form-field-success [displaySuccess]="serverSuccessResponse" successMsg="Form submitted. Thank you."></app-form-field-success>
    </form>
  </div>
</div>
