.container-margin {
    margin-top: 75px;
}

.container-fluid {
    padding: 0 25px;
}



.webview {
    opacity: 0;
    -webkit-transition: all 600ms linear;
    transition: all 600ms linear;
}

.show {
    opacity: 1 !important;
}

h2 {
    margin-bottom: 25px;
    text-align: center;
}

/* banner section styles */

.header {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

.header img {
    width: auto;
    height: 100%;
}

.header-title {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 35px 35px 15px 35px;
}

.header-title h1 {
    font-size: 48px;
}

.header-title p {
    font-size: 21px;
}

/* oscar bio section */

.order-last {
    order: 2;
}

.order-first {
    order: 1;
}

.img-container {
    width: 100%;
    overflow: hidden;
}

.img-container img {
    width: 100%;
}

.oscar-bio-text {
    margin-top: 25px;
    color: #7a7a7a;
    text-align: justify;
}

/* what we do styles */

.what-we-do-text {
    color: #7a7a7a;
    text-align: justify;
}

/* learn innovate lead styles */

.blue-background {
    background-color: #2594A9;
    padding-top: 35px;
    padding-bottom: 35px;
}

.white-text {
    color: white;
}

.lil-img {
    width: 200px;
    margin: auto;
    margin-bottom: 25px;
    overflow: hidden;
}

.lil-img img {
    width: 100%;
}

/* kickass team */

.team-intro-text {
    color: #7a7a7a;
    text-align: justify;
}

.team-container {
    width: 300px;
    height: 490px;
    border-radius: 10px;
    -webkit-box-shadow: #ccc 0 0 10px;
    box-shadow: #ccc 0 0 10px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 50px;
    position: relative;
}

.team-desc {
    padding: 15px 15px;
}

.team-img {
    background-size: cover;
    background-position: top center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    height: 350px;
}

.team-img img {
    height: 100%;
}

.name {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: left;
}

.title {
    font-size: 16px;
    text-align: left;
}

.links ul {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.links ul li {
    display: inline;
    text-decoration: none;
}

.links li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    text-align: center;
    line-height: 38px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.links li a:hover {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    color: #2594A9;
    font-size: 18px;
    text-align: center;
    line-height: 38px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.team-img:hover .bio-overlay{
    cursor: pointer;
    display: block;
}
.bio-overlay{
    display: none;
    position: absolute;
    height: 100%;
    width:100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 11;
    text-align: center;
    padding-top: 145px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.links{
    position: absolute;
    bottom: 0px;
    left: 5px;
}
@media (min-width: 576px) {}

@media (min-width: 768px) {
    .container-fluid {
        padding: 0 50px;
    }
    /* header */
    .header img {
        width: auto;
        height: auto;
        width: 100%;
    }
    /* oscar bio section */
    .order-last {
        order: 2;
    }
    .order-first {
        order: 1;
    }
    /* learn innovate lead styles */
    .blue-background {
        background-color: #2594A9;
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .center {
        text-align: center;
        justify-content: center;
    }
}

@media (min-width: 992px) {
    /* oscar bio section */
    .order-last {
        order: 1;
    }
    .order-first {
        order: 2;
    }
    .oscar-bio-text {
        margin-top: 0;
        color: #7a7a7a;
        text-align: justify;
    }
    .img-container {
        text-align: right;
        width: 100%;
        height: 475px;
        overflow: hidden;
    }
    .img-container img {
        width: auto;
        height: 100%;
    }
    .oscar-bio-text {
        margin-top: 0;
        color: #7a7a7a;
        text-align: justify;
    }
    .oscar-padding {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #oscar-text-margin {
        margin-bottom: 50px;
    }
    #oscar-img1 {
        margin-left: -70px;
    }
    #oscar-img2 {
        margin-left: -70px;
    }
    /* what we do styles */
    .what-we-do-text {
        color: #7a7a7a;
        text-align: center;
    }
}

@media (min-width: 1200px) {
        /* header */
        .header img {
            width: auto;
            height: auto;
            width: 100%;
            margin-top: -125px;
        }
}