<div>
    <div class="container">
      <div class="row bio-padding"  >
        <div class="col col-md-6 col-lg-4 col-xl-4">
          <div class="team-container">
            <div class="team-img roberto">
              <img [src]="current.pic" alt="" />
            </div>
            <div class="team-desc">
            <div>
              <h1 class="name">{{current.name}}</h1>
            </div>
            <div>
              <h1 class="title">{{current.title}}</h1>
            </div>
            <div class="links">
                  <ul>
                      <!-- {/* <li>
                        <a href="">
                        <i class="fa fa-twitter"></i>
                                    </a>
                                    </li>
                                    <li>
                                    <a href="">
                                        <i class="fa fa-facebook-f"></i>
                                    </a>
                                    </li>
                                    <li>
                                    <a href="">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                    </li> */} -->
                                    <li>
                                    <a [href]="current.email">
                                        <i class="fa fa-envelope"></i>
                                    </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
          <div class="col col-md-6 col-lg-8 col-xl-8">
            <div class="team-bio-padding">
              <p *ngFor="let item of current.bio">{{item}}</p>
            </div>
          </div>
      </div>
    </div>
</div>