<div>
  <div class="main-content">
      <!-- section contains banner -->
      <div class="header">
          <img id="banner-about" src="assets/pages/about/banner.jpg" alt='banner' />
          <div class="header-title font animation-item">
              <h1>About Us</h1>
              <p>Closing the school to prison pipeline, one student at a time.</p>
          </div>
      </div>
      <!-- section contains oscar bio and about TXT -->
      <div class="container-fluid font">
          <div class="row">
              <div class="col about font">
                  <h2 class="animation-item">About TXT</h2>
              </div>
          </div>
          <div class="row oscar-padding">
              <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                  <div class="team-container animation-item fadeRight" >
                      <div class="team-img" (click)="viewTeamBio('oscar')">
                          <div class="bio-overlay">
                              <p>- View Bio -</p>
                          </div>
                          <img src="assets/pages/about/team/oscar.jpg" alt="" />
                      </div>
                      <div class="team-desc">
                          <div>
                              <h2 class="name">Oscar Menjivar</h2>
                          </div>
                          <div>
                              <h3 class="title">Founder and CEO</h3>
                          </div>
                          <div class="links">
                              <ul>
                                  <!-- {/* <li>
                                      <a href="">
                                          <i class="fa fa-twitter"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="">
                                          <i class="fa fa-facebook-f"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li> */} -->
                                  <li>
                                      <a href="mailto:oscar@urbantxt.com">
                                          <i class="fa fa-envelope"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>

              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-6 oscar-bio-text">
                  <div class="animation-item fadeRight">
                  <p id="oscar-text-margin">
                      Teens Exploring Technology (TXT) was founded by Oscar Menjivar, a 2008 graduate of Jordan High School. Growing up in Watts,
                      California, Oscar lost friends to drugs, crime, and prison. He thanks his mentor and lacrosse coach, Mr. Wonders,
                      for helping him to stay on track and encouraging him to pursue higher education.
                  </p>
                  <p>
                      As a kid, Oscar had a passion for technology. This interest led him to enroll in the only tech class offered at his school, which turned out
                      to be a glorified typing class. Oscar was fortunate to be able to pursue his love for technology by attending
                      college.
                  </p>
                  </div>
              </div>
          </div>
          <div class="row oscar-padding">
              <div class="col-12 col-sm-12 col-md-12 col-lg-6 order-last oscar-bio-text">
                  <div class="animation-item fadeLeft">
                      <p>
                          He received an undergraduate degree in Computer Science from Cal Poly Pomona and a Master’s degree in Educational Technology
                          from Pepperdine University. His lack of access to tech classes as an adolescent inspired him to start TXT as
                          a way to empower teens from impoverished neighborhoods to achieve their full potential.
                      </p>
                      <p>
                          A decade after graduating, Oscar was invited to speak with the students of his alma mater, Jordan High School. He was shocked
                          to learn that the school’s tech curriculum had not changed since his time as a student. Teens in his school continued to
                          lack opportunities to make them competitive in the marketplace.
                      </p>
                  </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-6 order-first about-img">
                  <div class="img-container">
                      <img src="assets/pages/about/about-img.jpg" alt="" class="animation-item fadeTop" id="oscar-img2" />
                  </div>
              </div>
          </div>
      </div>
      <!-- section contains what we do -->
      <div class="container-fluid">
          <div class="row row-margin-top-75">
              <div class="col what-we-do font">
                  <h2>What We Do</h2>
              </div>
          </div>
          <div class="row row-margin-top-25">
              <div class="col what-we-do-text">
                  <p>
                  We serve young men of color between the 7th and 11th grade who come from low income communities. Since 2009, we have used the
                  concept of developing strong teams as a way of teaching our young men to about collaboration, ideation, and long-lasting
                  life skills. In small teams our youths learn the process of taking an idea from concept to market. We use coding
                  as the catalyst to take young men of color and turn them into technology leaders who build positive communities.
                  </p>
              </div>
          </div>
      </div>
      <!-- section contains learn innovate lead -->
      <div class="container-fluid blue-background" >
          <div class="row center">
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 lil-item hide delay-1" >
                  <div class="white-text">
                      <h2>Learn</h2>
                  </div>
                  <div class="lil-img">
                      <img src="assets/pages/about/lil/studying-1.svg" alt="" />
                  </div>
                  <div class="white-text center">
                      <p>
                      We train our students to learn on their own using qualitative and quantitative research methods. We use an assets-based approach to identify, develop, and leverage student’s strengths so that they can excel in the way that best suits them. As one of our core pillars, academic excellence is essential for a successful TXTer. Click here to learn about the other 3 pillars.
                      </p>
                  </div>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 lil-item hide delay-2" >
                  <div class="white-text">
                      <h2>Innovate</h2>
                  </div>
                  <div class="lil-img">
                      <img src="assets/pages/about/lil/laptop-1.svg" alt="" />
                  </div>
                  <div class="white-text center">
                      <p>
                      We push our students to think outside of the box to develop innovative solutions to community issues. Innovation happens when we least expect it, therefore we encourage youth to think and dream as much as possible. The tech world is largely disconnected from the plight of underserved communities, so our students are discovering problems and developing solutions never before seen. 
                      </p>
                  </div>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 lil-item hide delay-3">
                  <div class="white-text">
                      <h2>Lead</h2>
                  </div>
                  <div class="lil-img">
                      <img src="assets/pages/about/lil/university-2.svg" alt="" />
                  </div>
                  <div class="white-text center">
                      <p>
                      TXT students go above and beyond 110% of the time because they are hungry to become the future leaders of the tech industry and of their communities. Guided by our Leadership Creed, we emphasize to our youth that they must take action and not wait for change from others to be the creators of their own futures.
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <!-- section contains txt staff -->
      <div class="container-fluid">
          <div class="row">
              <!-- team description -->
              <div class="col-12 col-sm-12 col-md-6">
                  <h2>The Kickass Team</h2>
                  <p class="team-intro-text">
                  Teens Exploring Technology (TXT) encourages inner city teenage Black and Latino males to become catalysts of change in urban
                  communities. Our approach is to use technology as a tool for promoting positive youth development and leadership,
                  and ultimately paving the pathway to higher education and majors and careers in Science, Technology Engineering,
                  Math (STEM).
                  </p>
              </div>
              <!-- roxanne bio -->
              <div class="col-12 col-sm-12 col-md-6">
                  <div class="team-container animation-item fadeRight" >
                      <div class="team-img" (click)="viewTeamBio('roxanne')">
                          <div class="bio-overlay">
                              <p>- View Bio -</p>
                          </div>
                          <img src="assets/pages/about/team/roxanne.jpg" alt="" />
                      </div>
                      <div class="team-desc">
                          <div>
                              <h2 class="name">Roxanne Mendez</h2>
                          </div>
                          <div>
                              <h3 class="title">Board Member and Co-Founder</h3>
                          </div>
                          <div class="links">
                              <ul>
                                  <!-- {/* <li>
                                      <a href="">
                                          <i class="fa fa-twitter"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="">
                                          <i class="fa fa-facebook-f"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li> */} -->
                                  <li>
                                      <a href="mailto:roxanne@urbantxt.com">
                                          <i class="fa fa-envelope"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>

              </div>
          </div>

          <div class="row" >
              <!-- roberto bio -->
              <div class="col col-md-6 col-xl-4 col-lg-6">
                  <div class="team-container">
                      <div class="team-img" (click)="viewTeamBio('roberto')">
                          <div class="bio-overlay">
                              <p>- View Bio -</p>
                          </div>
                          <img src="assets/pages/about/team/roberto.jpg" alt="" />
                      </div>
                      <div class="team-desc">
                          <div>
                              <h1 class="name">Roberto Sanchez</h1>
                          </div>
                          <div>
                              <h1 class="title">CTO</h1>
                          </div>
                          <div class="links">
                              <ul>
                                  <li>
                                  <!-- {/* <a href="">
                                      <i class="fa fa-twitter"></i>
                                  </a>
                                  </li>
                                  <li>
                                  <a href="">
                                      <i class="fa fa-facebook-f"></i>
                                  </a>
                                  </li>
                                  <li>
                                  <a href="">
                                      <i class="fa fa-linkedin"></i>
                                  </a>
                                  </li>
                                  <li> */} -->
                                  <a href="mailto:roberto@urbantxt.com">
                                      <i class="fa fa-envelope"></i>
                                  </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Alex bio -->
              <div class="col col-md-6 col-xl-4 col-lg-6">
                  <div class="team-container">
                      <div class="team-img roberto" (click)="viewTeamBio('alex')">
                          <div class="bio-overlay">
                              <p>- View Bio -</p>
                          </div>
                          <img src="assets/pages/about/team/alex.jpg" alt="" />
                      </div>
                      <div class="team-desc">
                          <div>
                              <h1 class="name">Alex Ruiz</h1>
                          </div>
                          <div>
                              <h1 class="title">Associate Director of Programs</h1>
                          </div>
                          <div class="links">
                              <ul>
                                  <!-- {/* <li>
                                  <a href="">
                                      <i class="fa fa-twitter"></i>
                                  </a>
                                  </li>
                                  <li>
                                  <a href="">
                                      <i class="fa fa-facebook-f"></i>
                                  </a>
                                  </li>
                                  <li>
                                  <a href="">
                                      <i class="fa fa-linkedin"></i>
                                  </a>
                                  </li> */} -->
                                  <li>
                                  <a href="mailto:alex@urbantxt.com">
                                      <i class="fa fa-envelope"></i>
                                  </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- danny bio -->
              <div class="col col-md-6 col-xl-4 col-lg-6">
                  <div class="team-container">
                      <div class="team-img " (click)="viewTeamBio('danny')">
                          <div class="bio-overlay">
                              <p>- View Bio -</p>
                          </div>
                          <img src="assets/pages/about/team/danny.jpg" alt="" />
                      </div>
                      <div class="team-desc">
                          <div>
                              <h1 class="name">Danny Menjivar</h1>
                          </div>
                          <div>
                              <h1 class="title">Executive Assistant</h1>
                          </div>
                          <div class="links">
                              <ul>
                                  <!-- {/* <li>
                                  <a href="">
                                      <i class="fa fa-twitter"></i>
                                  </a>
                                  </li>
                                  <li>
                                  <a href="">
                                      <i class="fa fa-facebook-f"></i>
                                  </a>
                                  </li>
                                  <li>
                                  <a href="">
                                      <i class="fa fa-linkedin"></i>
                                  </a>
                                  </li> */} -->
                                  <li>
                                  <a href="mailto:danny@urbantxt.com">
                                      <i class="fa fa-envelope"></i>
                                  </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- kevin bio -->
              <div class="col col-md-6 col-xl-4 col-lg-6">
                  <div class="team-container">
                      <div class="team-img" (click)="viewTeamBio('kevin')">
                          <div class="bio-overlay">
                              <p>- View Bio -</p>
                          </div>
                          <img src="assets/pages/about/team/kevin.jpg" alt="" />
                      </div>
                      <div class="team-desc">
                          <div>
                              <h1 class="name">Kevin Martinez</h1>
                          </div>
                          <div>
                              <h1 class="title">Community Engagement Coordinator</h1>
                          </div>
                          <div class="links">
                              <ul>
                                  <!-- {/* <li>
                                  <a href="">
                                      <i class="fa fa-twitter"></i>
                                  </a>
                                  </li>
                                  <li>
                                  <a href="">
                                      <i class="fa fa-facebook-f"></i>
                                  </a>
                                  </li>
                                  <li>
                                  <a href="">
                                      <i class="fa fa-linkedin"></i>
                                  </a>
                                  </li> */} -->
                                  <li>
                                  <a href="mailto:kevin@urbantxt.com">
                                      <i class="fa fa-envelope"></i>
                                  </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- bagel bio -->
              <div class="col col-md-6 col-xl-4 col-lg-6">
                  <div class="team-container">
                      <div class="team-img" (click)="viewTeamBio('bagel')">
                          <div class="bio-overlay">
                              <p>- View Bio -</p>
                          </div>
                          <img src="assets/pages/about/team/bagel.jpg" alt="" />
                      </div>
                      <div class="team-desc">
                          <div>
                              <h1 class="name">Bagel</h1>
                          </div>
                          <div>
                              <h1 class="title">Chief Mascot Officer</h1>
                          </div>
                          <div class="links">
                              <ul>
                                  <!--{/* <li>
                                  <a href="">
                                      <i class="fa fa-twitter"></i>
                                  </a>
                                  </li>
                                  <li>
                                  <a href="">
                                      <i class="fa fa-facebook-f"></i>
                                  </a>
                                  </li>
                                  <li>
                                  <a href="">
                                      <i class="fa fa-linkedin"></i>
                                  </a>
                                  </li> */} -->
                                  <li>
                                  <a href="mailto:info@urbantxt.com">
                                      <i class="fa fa-envelope"></i>
                                  </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>