

body {
  background-color: white;
  font-family: 'Roboto', serif !important;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p{
  font-size: 21px;
}
.container-fluid {
  padding: 50px 25px !important;
}

.no-padding {
  padding: 50px 0 !important;
}

.center {
  text-align: center !important;
}

.justify {
  text-align: justify !important;
  text-justify: inter-word !important;
}

.team-bio-padding{
  padding: 50px 25px 50px 25px;
}
.bio-padding{
  padding-top: 100px;
}

.footer{
  margin-top: 50px;
  padding: 50px 25px 150px 25px !important;
}

.leadership-creed{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  color: #939393;
}
@media (min-width: 576px) {}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  .container-fluid {
      padding: 50px 75px !important;
  }
  .bio-padding{
      padding-top: 150px;
  }
  .team-bio-padding{
      padding: 0px 25px 50px 25px;
  }
  .footer{
      padding: 50px 75px 150px 75px !important;
  }
  .no-padding {
      padding: 50px 0 !important;
  }
}

@media (min-width: 1200px) {
  .container-fluid {
      padding: 50px 175px !important;
  }
  .team-bio-padding{
      padding: 0px 25px 50px 25px;
  }
  .no-padding {
      padding: 50px 0 !important;
  }
  
}