.custom-nav {
    position: fixed;
    right: 0;
    left: 0;
    background-color: white;
    border-bottom: thin solid #d3d3d3;
    z-index: 1030;
    transition: all .5s ease;
}

.custom-nav.top {
    height: 70px;
    background-color: white;
    border-top: thick solid #2594A9;
}

.custom-nav.moving {
    height: 60px;
    background-color: white;
    border-top: thick solid #2594A9;
}

.navbar-brand {
    width: auto;
}

.navbar-brand img {
    max-height: 2.75rem;
    margin-left: -30px;
    margin-top: -10px;
}

/* 
  .top .donate {
    margin-top: -20px;
    border: thin solid #2594A9;
    background-color: #2594A9;
  }
  
  .top .donate:hover {
    border: thin solid #fff;
    background-color: transparent;
    color: white !important;
  }
  
  .top .donate:hover .donate-link {
    color: white !important;
  } */

.fa-heart {
    margin-left: 5px;
}

.burger {
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 99999999999999;
    display: block;
    border: 0;
    background: none;
    outline: 0;
    padding: 0;
    margin: 25px 10px 25px 10px;
    cursor: pointer;
    border-bottom: 4px solid white;
    width: 28px;
    transition: border-bottom 1s ease-in-out;
    -webkit-transition: border-bottom 1s ease-in-out;
}

.burger::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.burger:before {
    content: "";
    display: block;
    border-bottom: 4px solid white;
    width: 100%;
    margin-bottom: 5px;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger:after {
    content: "";
    display: block;
    border-bottom: 4px solid white;
    width: 100%;
    margin-bottom: 5px;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.top .burger,
.top .burger:before,
.top .burger:after {
    border-bottom: 4px solid white;
}

.top .burger,
.top .burger:before,
.top .burger:after {
    border-bottom: 4px solid black;
}

.burger-check {
    display: none;
}

.burger-check:checked~.burger {
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.8s ease-in-out;
    -webkit-transition: border-bottom 0.8s ease-in-out;
}

.burger-check:checked~.burger:before {
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger-check:checked~.burger:after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px);
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.webview {
    opacity: 0;
}

.show {
    -webkit-transition: all 600ms linear;
    transition: all 600ms linear;
    opacity: 1 !important;
}

/* burger menu open styles */

.top .collapse {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: white;
    padding: 100px 25px;
}

.moving .collapse {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: white;
    padding: 100px 25px;
}

.top .black {
    color: black;
}

.nav-link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400 !important;
    margin-top: 10px;
    text-align: center;
}

.black:hover {
    color: #2594A9 !important;
}

.top .donate-link {
    color: black;
}

.moving .donate-link {
    color: black;
}

.top .donate-link:hover,
.moving .donate-link:hover {
    color: #2594A9 !important;
}

.footer {
    position: relative;
    background-color: #2594A9;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 125px;
}

.footer-logo {
    width: 275px;
    overflow: hidden;
    margin: 25px auto;
}

.footer-logo img {
    width: 100%;
}

.footer-desc {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    opacity: 1;
    text-align: justify;
}

.footer-links {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.1px;
    text-align: center;
    margin-top: 25px;
}

.footer-links ul {
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.footer-links li {
    color: white;
    font-size: 16px;
    font-weight: 300;
}

.footer-links li .footer-link {
    color: white;
    font-size: 20px;
    font-weight: 400;
}
.footer-links li .footer-link:hover {
    color: black;
    font-size: 20px;
    font-weight: 400;
}

.other-links {
    margin-bottom: 10px;
    opacity: 0.8;
    transition: all 0.2s linear;
}

.other-links:hover {
    opacity: 1;
}

.other-links a:hover {
    text-decoration: none;
}

#first-link {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 18px;
}

.footer-contact {
    text-align: center;
    margin-top: 25px;
}

.footer-contact-header {
    color: white;
    margin-bottom: 25px;
    font-weight: 700;
    letter-spacing: 1.1px;
    font-size: 18px;
}

.footer-address {
    color: white;
    opacity: 0.8;
    font-size: 16px;
}

.footer-address p {
    margin-bottom: 0.5rem;
}

.footer-email {
    margin-top: 30px;
    color: white;
    opacity: 0.7;
}

.social-media {
    margin-top: 50px;
}

.social-media ul {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding: 0;
}

.social-media ul li {
    margin: 0 5px;
    display: inline-block;
}

.footer-icon-link {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-size: 32px;
    text-align: center;
    line-height: 38px;
}

.footer-icon-link:hover {
    color: #333333;
}

.footer-padding {
    font-family: 'Roboto', sans-serif;
}

.copyright {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 14px;
}

.black-border {
    border-color: black !important;
    color: black !important;
}

.black-border::before,
.black-border::after {
    border-color: black !important;
    color: black !important;
}

.activeLink {
    color: #2594A9 !important;
}

.burger-container {
    
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.burger {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 400ms;
    margin: 0 !important;
    right: 0 !important;
}

.burger::after,
.burger::before {
    margin-bottom: 0;
    content: "";
    position: absolute;
    width: 100%;

}

.burger::after {
    bottom: 9px;
}

.burger::before {
    bottom: 20px;
}

.burger1 {
    color: black;
    border-bottom: 2px solid black !important;
    transition: all 400ms;
}

.burger1::after {
    border-bottom: 2px solid black !important;
    transition: all 400ms;
}

.burger1::before {
    border-bottom: 2px solid black !important;
    transition: all 400ms;
}

.burger1-open {
    border-bottom: 2px solid black !important;
}

.burger1-open::after {
    border-bottom: 2px solid black !important;
    transform: rotate(45deg) translate(-7px, -9px);
}

.burger1-open::before {
    border-bottom: 2px solid black !important;
    transform: rotate(-45deg);
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    .footer-links {
        margin-top: 70px;
    }
    .footer-contact {
        margin-top: 70px;
    }
}

@media (min-width: 992px) {
    .footer {
        padding-bottom: 125px;
    }
    .burger {
        display: none;
    }
    .top .collapse {
        position: relative;
        margin: 0;
        background-color: transparent;
        padding: 0;
    }
    .moving .collapse {
        position: relative;
        margin: 0;
        background-color: transparent;
        padding: 0;
    }
    .nav-link {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400 !important;
        margin-top: 10px;
        text-align: center;
    }
    .donate {
        display: block;
        height: 50px;
        font-size: 1.5rem;
        border-radius: 3px;
        margin-left: 25px;
        padding: 0px 35px 0 35px;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
        cursor: pointer;
    }
    .top .donate {
        margin-top: -25px;
        border: thin solid #2594A9;
        background-color: #2594A9;
    }
    .top .donate:hover {
        border: thin solid #2594A9;
        background-color: transparent;
        color: #2594A9 !important;
    }
    .top .donate:hover .donate-link {
        color: #2594A9 !important;
    }
    .top .donate-link,
    .moving .donate-link {
        color: white;
        padding: 0;
        font-size: 24px;
        text-transform: capitalize;
        transition: all .5s ease;
    }
    .footer-links {
        margin-top: 70px;
    }
    .footer-contact {
        margin-top: 70px;
    }
}

@media (min-width: 1200px) {
    .donate {
        display: block;
        height: 50px;
        font-size: 1.5rem;
        border-radius: 3px;
        margin-right: 15px;
        margin-left: 50px;
        padding: 0px 35px 0 35px;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
        cursor: pointer;
    }
    .top .donate {
        margin-top: -20px;
        border: thin solid #2594A9;
        background-color: #2594A9;
    }
    .top .donate:hover {
        border: thin solid #2594A9;
        background-color: transparent;
        color: #2594A9 !important;
    }
    .top .donate:hover .donate-link {
        color: #2594A9 !important;
    }
    .donate-link {
        padding: 0;
        font-size: 24px;
        text-transform: capitalize;
        transition: all .5s ease;
    }
}