<div>
  <div class="container-fluid footer" style="padding-bottom: 125px">
    <div class="row">
      <div class="col-xl-6 col-md-6">
        <div class="footer-logo">
          <img src="assets/pages/nav/logo/logo-white.png" alt="TXT Logo" />
        </div>
        <div class="footer-desc">
          We serve young men of color between the 7th and 11th grade who are from low income communities. Since 2009, we’ve used the
          concept of developing strong teams as a way for our young men to learn about collaboration, ideation, and long-lasting
          life skills. In small teams, our youths learn the process of taking an idea from concept to market.
        </div>
      </div>
      <div class="col-xl-6 col-md-6">
        <div class="footer-contact">
          <div class="footer-contact-header">
            <p>Contact</p>
          </div>
          <div class="footer-address">
            <p>3655 South Grand Ave.</p>
            <p>Los Angeles, CA 90007 Ste. 220</p>
          </div>
          <div class="footer-email">
            info@urbantxt.com
          </div>
          <div class="social-media">
            <ul>
              <li style="margin-left: 0">
                <a class="footer-icon-link" href="https://www.facebook.com/UrbanTeenseXploringTechnology/">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a class="footer-icon-link" href="https://twitter.com/urbantxt?lang=en">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a class="footer-icon-link" href="https://www.instagram.com/urbantxt/?hl=en">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li>
                <a class="footer-icon-link" href="https://www.youtube.com/channel/UCIZYpo5IexkbWlKLyT2B7Sw">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- <div class="col-xl-4 col-md-4">
        <div class="footer-links">
          <ul>
            <li id="first-link">Links</li>
            <li class="other-links">
              <a class="footer-link" to='/home'>Home</a>
            </li>
            <li class="other-links">
              <a class="footer-link" to='/about'>About</a>
            </li>
            <li class="other-links">
              <a class="footer-link" to='/programs'>Programs</a>
            </li>
            <li class="other-links">
              <a class="footer-link" to='/get-invovled'>Get Invovled</a>
            </li>
            <li class="other-links">
              <a class="footer-link" to='/contact-us'>Contact Us</a>
            </li>
            <li class="other-links">
              <a class="footer-link" href="https://txt.networkforgood.com/">Donate</a>
            </li>
          </ul>
        </div>
      </div> -->
    </div>
    <div class="copyright">
      <p>&#169; TXT: Teens Exploring Technology ALL RIGHTS RESERVED</p>
    </div>
  </div>
</div>
