<div>
  <div class="main-content">
    <div class="header">
      <img [src]='banner' alt="" />
      <div class="header-title-programs">
        <h1>TXT Culture</h1>
      </div>
    </div>
    <div class="container-fluid">
      <div class="form-header">
        <h1>TXT Pillars</h1>
        <hr />
      </div>

      <div class="row d-flex align-items-center section-margin" 
      *ngFor="let pillar of pillars;
              let index =index;
              let isOdd=odd;
              let isEven=even"
      [class.odd]="isOdd" 
      [class.even]="isEven">

        <div class="col-12 col-sm-12 col-md-12 col-lg-4 spacing animation-item fadeTop">
          <div class="section-img-container">
            <img [src]="pillar.img" alt="">
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 spacing animation-item fadeRight padding-left">
          <h3 class="step-title">{{pillar.title}}</h3>
          <p class="step-desc">
            {{pillar.desc}}
          </p>
        </div>
      </div>


      <div class="form-header">
        <h1>Leadership Creed</h1>
        <hr />
      </div>
      <div class="leadership-creed">
        <p>I shall lead by example.</p>
        <p>I will bring honor to the brotherhood.</p>
        <p>I will think outside the box.</p>
        <p>I believe in helping my neighbor and community.</p>
        <p>I believe leadership is action not position.</p>
        <p>I will be a role model to other young males in my community.</p>
        <p>I believe nothing is hard just a lot of work.</p>
        <p>I will strive to know myself better and seek self-improvement.</p>
        <p>I believe in the habit of doing more than asked for.</p>
        <p>I will strive to strengthen my mind body and soul.</p>

      </div>
    </div>
  </div>
</div>
