.error {
    color: red;
    font-size: 14px;
  }
  
  .label {
    font-size: 18px;
  }
  
  .form-check {
    margin: 10px 0;
  }
  
  .submit-btn {
    background-color: #2594a9;
    border: solid thin #2594a9;
    width: 150px;
    height: 45px;
    color: white;
  }
  
  .fa-spin {
    color: white !important;
  }
  
  .form-header hr {
    width: 150px;
    height: 2px;
    background-color: #2594a9;
  }
  
  .form-header h1 {
    font-size: 36px;
  }
  
  .form-header {
    text-align: center;
  }
  