<div>
  <div class="container-fluid">
    <div class="form-header">
      <h1>Mentor Form</h1>
      <hr>
    </div>
    <form [formGroup]="mentorForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="label">Full Name
          <span class="error">*</span>
        </label>
        <input type="text" class="form-control" id="inputName" formControlName="name">
        <app-form-field-error [displayError]="name.invalid && name.touched" errorMsg="This field cannot be empty."></app-form-field-error>
      </div>

      <div class="form-group">
        <label class="label">Email
          <span class="error">*</span>
        </label>
        <input type="email" class="form-control" id="inputEmail" formControlName="email">
        <app-form-field-error [displayError]="email.invalid && email.touched" errorMsg="Invalid email."></app-form-field-error>
      </div>

      <div class="form-group">
        <label class="label">Phone Number
          <span class="error">*</span>
        </label>
        <input type="text" class="form-control" id="inputPhoneNumber" formControlName="phoneNumber">
        <app-form-field-error [displayError]="phoneNumber.invalid && phoneNumber.touched" errorMsg="This field cannot be empty"></app-form-field-error>
      </div>

      <div class="form-group">
        <label class="label">Company you work for
          <span class="error">*</span>
        </label>
        <input type="text" class="form-control" formControlName="company">
        <app-form-field-error [displayError]="company.invalid && company.touched" errorMsg="This field cannot be empty"></app-form-field-error>
      </div>

      <div class="form-group">
        <label class="label">Position/Title
          <span class="error">*</span>
        </label>
        <input type="text" class="form-control" formControlName="position">
        <app-form-field-error [displayError]="position.invalid && position.touched" errorMsg="This field cannot be empty"></app-form-field-error>
      </div>

      <div class="form-group">
        <label class="label">Please list one reference from your company (include phone number)
          <span class="error">*</span>
        </label>
        <textarea type="text" class="form-control" formControlName="reference"></textarea>
        <app-form-field-error [displayError]="reference.invalid && reference.touched" errorMsg="This field cannot be empty"></app-form-field-error>
      </div>


      <div class="form-group">
        <label class="label">Have you worked or volunteered with other youth programs? (please explain)</label>
        <textarea type="text" class="form-control" formControlName="volunteerExperience"></textarea>
      </div>

      <div class="form-group">
        <label class="label">Mentors will meet with their mentee in-person once a month. Mentors should also maintain communication via phone
          call, email, text or social media platforms on a weekly basis.
          <span class="error">*</span>
        </label>

        <div class="form-check" *ngFor="let option of menteeMeetings">
          <input class="form-check-input" type="radio" [value]="option" (change)="selectChange(option)" formControlName="mentorMenteeMeetings">
          <label class="form-check-label">
            {{option}}
          </label>
        </div>
      </div>

      <div class="form-group">
        <label class="label">I can mentor a student up to
          <span class="error">*</span>
        </label>

        <div class="form-check" *ngFor="let option of menteeMeetings">
          <input class="form-check-input" type="radio" [value]="option" (change)="selectChange(option)" formControlName="mentorMenteeLength">
          <label class="form-check-label">
            {{option}}
          </label>
        </div>
      </div>

      <div class="form-group">
        <label class="label">I am able to mentor
          <span class="error">*</span>
        </label>

        <div class="form-check" *ngFor="let option of menteeNum">
          <input class="form-check-input" type="radio" [value]="option" (change)="selectChange(option)" formControlName="mentorMenteeNum">
          <label class="form-check-label">
            {{option}}
          </label>
        </div>
      </div>

      <div class="form-group">
        <label class="label">Why are you interested in mentoring a student?</label>
        <textarea type="text" class="form-control" formControlName="interest"></textarea>
      </div>

      <!-- submit button -->
      <button type="submit" class="btn submit-btn" [disabled]="!mentorForm.valid">
        <span *ngIf="loading">
          <i class="fas fa-spin fa-spinner"></i>
        </span>

        <span *ngIf="!loading">
          Submit
        </span>


      </button>
      <app-form-field-error [displayError]="serverErrorResponse" errorMsg="Server Error. Please try again."></app-form-field-error>
      <app-form-field-success [displaySuccess]="serverSuccessResponse" successMsg="Form submitted. Thank you."></app-form-field-success>
    </form>
  </div>
</div>
