<div>
    <div class="main-content" *ngIf="currentItem">
      <div class="header">
        <img [src]="currentItem.img" alt="" />
        <div class="header-title-programs">
          <h1>{{currentItem.name}}</h1>
        </div>
      </div>
      <div class="program-updates">
        <p>
          {{currentItem.bannerMessage}}
          <a [attr.href]="'mailto:' + currentItem.bannerEmailer">{{currentItem.bannerEmailer}}</a>
        </p>
      </div>
      <div class="container-fluid">
        <div class="row d-flex align-items-center section-margin" 
        *ngFor="let section of currentItem.sections;
                let index =index;
                let isOdd=odd;
                let isEven=even"
        [class.odd]="isOdd" 
        [class.even]="isEven">
  
          <div class="col-12 col-sm-12 col-md-12 col-lg-4 spacing animation-item fadeTop">
            <div class="section-img-container">
              <img [src]="section.img" alt="">
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-8 spacing animation-item fadeRight padding-left">
            <h3 class="step-title">{{section.title}}</h3>
            <p class="step-desc">
              {{section.content}}
            </p>
          </div>
        </div>
      </div>


      <app-volunteer *ngIf="currentItem.form === 'volunteer'"></app-volunteer>
      <app-mentor *ngIf="currentItem.form === 'mentor'"></app-mentor>
      <app-fellows *ngIf="currentItem.form === 'fellow'"></app-fellows>
      
      <app-jobs *ngIf="currentItem.form === 'jobs'"></app-jobs>
      
    </div>
  </div>
  