.container-margin {
    margin-top: 75px;
  }
  
  .container-fluid {
    padding: 0 25px;
  }
  
  .section-img-container {
    height: 200px;
    width: 200px;
    margin: auto;
    -webkit-transform: translate3d(0, 0, 0);
  }
  
  .webview {
    opacity: 0;
    -webkit-transition: all 600ms linear;
    transition: all 600ms linear;
  }
  
  .show {
    opacity: 1 !important;
  }
  
  h2 {
    margin-bottom: 25px;
    text-align: center;
  }
  
  /* banner section styles */
  
  .header {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
  }
  
  .header img {
    width: auto;
    height: 100%;
  }
  
  .header-title {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 35px 35px 15px 35px;
  }
  
  .header-title h1 {
    font-size: 48px;
  }
  
  .header-title p {
    font-size: 21px;
  }
  
  .is-center {
    justify-content: center;
    text-align: center;
  }
  
  .programs-container {
    padding: 50px 25px;
  }
  
  .program-updates {
    background-color: #2594A9;
    color: white;
    text-align: center;
    padding: 10px 35px;
  }
  
  .program-updates p {
    font-size: 18px;
    margin-bottom: 0;
  }
  
  .program-updates p a {
    color: black;
    margin-left: 5px;
  }
  
  .program-updates p a:hover {
    color: white;
  }
  
  .header-title-programs {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 35px 35px 15px 35px;
    min-width: 100%;
  }
  
  .header-title-programs h1 {
    font-size: 48px;
  }
  
  .header-title-programs p {
    font-size: 21px;
  }
  
  .odd div:nth-child(1) {
    order: 1;
  }
  
  .odd div:nth-child(2) {
    order: 2;
  }
  
  .step-title{
      font-weight: 300;
      margin-bottom: 20px;
      font-size: 36px;
  }
  
  .step-desc {
      color: #939393;
      font-weight: 300;
      text-align: justify;
      font-size: 21px;
  }
  
  .section-margin{
      padding-top: 40px;
      padding-bottom: 40px;
  }
  
  .step-title{
      margin-top: 25px;
      text-align: center;
  }
  @media (min-width: 576px) {
    .header img {
      width: 100%;
      height: auto;
    }
  }
  
  @media (min-width: 768px) {
    .header img {
      width: 100%;
      height: auto;
    }
    .header-title-programs {
      min-width: 650px;
    }
  }
  
  @media (min-width: 992px) {
      .step-title{
          margin-top: 25px;
          text-align: left;
      }
    .odd div:nth-child(1) {
      order: 2;
    }
    .odd div:nth-child(2) {
      order: 1;
    }
    .youtube-container {
      margin: auto;
      height: 400px;
      width: 750px;
      overflow: hidden;
    }
  }
  
  @media (min-width: 1200px) {}
  